<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped" style="align-content: center; align-items: center">
      <thead class="thead-dark">
      <tr style="text-align: center">
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Balance</th>
      </tr>
      </thead>
      <tbody>
      <tr style="text-align: center">
        <td>{{ account.id }}</td>
        <td>{{account.name}}</td>
        <td>{{account.balance}}</td>
      </tr>
      </tbody>
    </table>
